AUTH_ENABLED=false
AUTH_USERNAME=
AUTH_PASSWORD=
PORT=4000
HOST=0.0.0.0
COOKBOOK_DB_PATH=/app/data/cookbook.db
PHOTO_THUMBNAIL_MAX_DATA_URL_LENGTH=2000000
VITE_PHOTO_THUMBNAIL_MAX_DATA_URL_LENGTH=2000000

